{% extends "layout.html" %}
<title>{% block title %}{{ show_data['title'] }}{% endblock %}</title>
<h1 class="title text-center">
	{% block h1 %}{{ show_data['title'] }}{% endblock %}
</h1>
<main>
	{% block main %}
	<div class="card">
		<div><span>Rating:</span> {{ show_data['rating'] | round(1) }} ☆</div>
		<br />
		<div>
			<span>Runtime:</span> {% if show_data['runtime'] // 60 != 0 %} {{
			show_data['runtime'] // 60 }}h {% endif %} {% if show_data['runtime'] % 60
			!= 0 %} {{ show_data['runtime'] % 60 }}min {% endif %}
		</div>
		<br />
		<div>{{ show_data['overview'] }}</div>
		<br />
		<div>
			<span>Actors:</span> {% for actor in show_actors %} {{ actor['name'] + ",
			" if not loop.last else actor['name'] }} {% endfor %}
		</div>
		<br />
		<div>
			<span>Genre:</span> {% for genre in show_genres %} {{ genre['name']+", "
			if not loop.last else genre['name'] }} {% endfor %}
		</div>
		<br />
		{% if show_data['trailer'] %}
		<div>
			<p>Trailer</p>
			<iframe width="420" height="315" src="{{ show_data['trailer'] }}">
			</iframe>
		</div>
		{% endif %}
	</div>
	<div class="card">
		<table>
			<tr>
				<th>Season number</th>
				<th>Title</th>
				<th>Overview</th>
			</tr>
			{% for season in seasons %}
			<tr>
				<td>{{ season['season_number'] }}</td>
				<td>{{ season['title'] }}</td>
				<td>{{ season['overview'] }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<script
		src="../static/js/embed-youtube.js"
		type="application/javascript"
	></script>
	{% endblock %}
</main>
