{% extends "layout.html" %}
<title>{% block title %}PA{% endblock %}</title>
<h1 class="title text-center">{% block h1 %}PA{% endblock %}</h1>
<main>
	{% block main %}
	<div class="card">
		<form id="form" method="post" action="/pa">
			<label for="year_from">Year from:</label><br />
			<input
				type="text"
				id="year_from"
				name="year_from"
				value="2000-01-01"
				required
			/><br /><br />
			<label for="year_to">Year to:</label><br />
			<input
				type="text"
				id="year_to"
				name="year_to"
				value="2001-12-31"
				required
			/>
			<button type="submit">Find</button>
		</form>
	</div>
	<ul></ul>
	<script src="/static/js/pa.js"></script>
	{% endblock %}
</main>
