{% extends "layout.html" %}
<title>{% block title %}Shows{% endblock %}</title>
<h1 class="title text-center">{% block h1 %}Shows{% endblock %}</h1>
<main>
	{% block main %}
	<div class="card">
		{% set curr_link = url.split('?')[0] %}
		<table>
			<tr>
				<th>
					<a
						href="{{ curr_link }}?title={% if order_direction == 'desc' and order_by == 'title' %}asc{% else %}desc{% endif %}"
						>{% if order_by == 'title' and order_direction == 'desc' %}⇩ {% elif
						order_by == 'title' %}⇧ {% endif %}Title</a
					>
				</th>
				<th>
					<a
						href="{{ curr_link }}?year={% if order_direction == 'desc' and order_by == 'year' %}asc{% else %}desc{% endif %}"
						>{% if order_by == 'year' and order_direction == 'desc' %}⇩ {% elif
						order_by == 'year' %}⇧ {% endif %}Year</a
					>
				</th>
				<th>
					<a
						href="{{ curr_link }}?runtime={% if order_direction == 'desc' and order_by == 'runtime'%}asc{% else %}desc{% endif %}"
						>{% if order_by == 'runtime' and order_direction == 'desc' %}⇩ {%
						elif order_by == 'runtime' %}⇧ {% endif %}Runtime (min)</a
					>
				</th>
				<th>
					<a
						href="{{ curr_link }}?rating={% if order_direction == 'desc' and order_by == 'rating'%}asc{% else %}desc{% endif %}"
						>{% if order_by == 'rating' and order_direction == 'desc' %}⇩ {%
						elif order_by == 'rating' %}⇧ {% endif %}Rating</a
					>
				</th>
				<th>Genres</th>
				<th>Trailer</th>
				<th>Homepage</th>
			</tr>
			{% for show in shows %}
			<tr>
				<td><a href="/show/{{ show['id'] }}">{{ show['title'] }}</a></td>
				<td>{{ show['year'] }}</td>
				<td>{{ show['runtime'] }} min</td>
				<td>{{ show['rating'] }}</td>
				<td>{{ show['genres'] }}</td>
				<td>
					{% if show['trailer'] %}
					<a href="{{ show['trailer'] }}">Link</a>
					{% else %} No URL {% endif %}
				</td>
				<td>
					{% if show['homepage'] %}
					<a href="{{ show['homepage'] }}">Link</a>
					{% else %} No URL {% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="page-select">
			{% if 'most-rated' in url %} 
			{% set link = '/shows/most-rated' %} 
			<a href="{{ link }}/1">&#9198</a>
			{% endif%} {% if page != 1 %}
			<a href="{{ link }}/{{ page - 1 }}?{{ order_by }}={{ order_direction }}"
				>&#9194</a
			>
			{% endif %} {% for shown_page in shown_pages %} {% if shown_page == page
			%}
			<b>{{ shown_page }}</b>
			{% else %}
			<a href="{{ link }}/{{ shown_page }}?{{ order_by }}={{ order_direction }}"
				>{{ shown_page }}</a
			>
			{% endif %} {% endfor %} {% if page != page_count %}
			<a href="{{ link }}/{{ page + 1 }}?{{ order_by }}={{ order_direction }}"
				>&#9193</a
			>
			{% endif %}
			<a href="{{ link }}/68">&#9197</a>
		</div>
	</div>
	{% endblock %}
</main>
